name: Create CR PR

on:
  workflow_dispatch:
    inputs:
      base:
        description: "Base branch"
        required: true
        default: "main"
      head:
        description: "Head branch"
        required: true

permissions:
  contents: read
  pull-requests: write

jobs:
  create-pr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create Pull Request
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr create \
            --repo ${{ github.repository }} \
            --base "${{ github.event.inputs.base }}" \
            --head "${{ github.event.inputs.head }}" \
            --title "Code Review" \
            --body "Code Review"
